{
    "singleQuote": false,
    "trailingComma": "all",
    "semi": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.md",
            "options": { "tabWidth": 2 }
        }
    ]
}
